<%- include('../includes/guest/header.ejs') %>

<body class="h-screen w-full overflow-none flex">

    <div class="w-1/2 bg-secondary h-full hidden md:flex flex-col space-y-10 items-center justify-center container py-10">
        <img src="/images/password.svg" alt="Reset Password" class="w-3/4">

        <h6 class="text-2xl font-bold text-primary">PinVote - Instant Votes</h6>
    </div>

    <div class="block md:flex flex-col space-y-10 md:w-1/2 container py-4 md:py-10">
        <div class="flex md:justify-end items-center w-full">
            <a href="/"><img src="/images/logo.svg" alt="PinVote" class="w-60"></a>
        </div>

        <div class="h-full flex pt-10 md:pt-0 md:items-center justify-center">
            <div class="w-full md:w-5/6 lg:w-4/5 xl:w-3/5 mx-auto flex flex-col items-stretch md:justify-center">
                <h1 class="text-3xl font-bold text-primary">Reset Password</h1>

                <%- include('../includes/alert.ejs') %>

                <% if (queryParamErrors?.token || queryParamErrors?.email || errors?.token || errors?.email) { %>

                    <ul class="mt-4 px-6 py-2 bg-red-100 rounded-full border-red-500 text-red-700 list-disc">
                        <% if (queryParamErrors?.token || errors?.token) { %>
                            <li><%= queryParamErrors?.token || errors?.token %></li>
                        <% } %>

                        <% if (queryParamErrors?.email || errors?.email) { %>
                            <li><%= queryParamErrors?.email || errors?.email %></li>
                        <% } %>
                    </ul>
                
                <% } %>

                <form action="/auth/reset-password" method="POST" class="w-full mt-6 space-y-4">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                    <input type="hidden" name="token" value="<%= queryData.token %>" />
                    <input type="hidden" name="email" value="<%= queryData.email %>" />

                    <div class="form-control">
                        <label for="password">New Password</label>
                        <input type="password" name="password" id="password" placeholder="Enter your new password">
                        <small class="text-red-500"><%= errors?.password %></small>
                    </div>

                    <div class="form-control">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Re-enter your new password">
                        <small class="text-red-500"><%= errors?.confirmPassword %></small>
                    </div>

                    <div class="pt-2">
                        <button type="submit" class="btn btn-primary w-full">Reset Password</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</body>

<%- include('../includes/guest/footer.ejs') %>

