<%- include('../../includes/guest/header.ejs') %>

    <body>

        <%- include('../../includes/guest/navigation.ejs') %>

            <%- include('../../includes/user/menu.ejs') %>

                <div class="space-y-6">
                    <h3 class="text-xl font-semibold text-primary">My Polls</h3>

                    <% if (polls.length===0) { %>
                            <div class="mx-auto max-w-4xl flex flex-col space-y-4 items-center justify-center">
                                <img src="/images/empty.svg" alt="No Data" class="w-28">
                                <p class="text-xl font-semibold">You have no polls</p>
                                <a href="/user/polls/create" class="btn btn-primary">Create new poll</a>
                            </div>
                        <% } else { %>
                    <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
                                <% for (let poll of polls) { %>

                                    <div class="rounded-xl border border-gray-200">
                                        <a href="/<%= poll._id %>" class="block w-full h-48 rounded-xl overflow-hidden">
                                            <img src="/images/poll-image.jpg" alt="Poll Image"
                                                class="w-full h-full object-cover object-center">
                                        </a>

                                        <div class="p-3 space-y-2">
                                            <p class="text-lg font-semibold"><%= poll.question %>
                                            </p>
                                            <p class="text-sm font-light">Created <%= poll.createdAt.toDateString() %></p>
                                            <p class="text-sm font-light">Ends <%= poll.endDate %></p>

                                            <div class="flex space-x-2 justify-end">
                                                <a href="/user/polls/<%= poll._id %>/edit">
                                                    <img src="/images/pencil-square.svg" alt="Edit"
                                                        class="w-6 text-secondary">
                                                </a>
                                                <button>
                                                    <img src="/images/trash.svg" alt="Delete" class="w-6">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>

                    </div>
                    <% } %>
                </div>
                </div>

    </body>

    <%- include('../../includes/guest/footer.ejs') %>