<%- include('../includes/guest/header.ejs') %>

  <body>

    <%- include('../includes/guest/navigation.ejs') %>

      <div class="container py-4 space-y-6">

        <form action="/" method="get" id="searchForm">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <div class="form-control">

            <label for="search">Search for polls</label>

            <div class="form-group">
              <input type="search" name="searchTerm" id="search" placeholder="Enter search keywords"
                class="bg-gray-100" value="<%= searchTerm %>">

              <button class="btn btn-primary">Search</button>
            </div>

          </div>
        </form>

        <div>

          <% if (polls.length===0) { %>
            <div class="mx-auto max-w-4xl flex flex-col space-y-4 items-center justify-center">
              <img src="/images/empty.svg" alt="No Data" class="w-28">
              <p class="text-xl">There are no polls currently available <% if (searchTerm) { %> with search text: <strong><%= searchTerm %></strong> <% } %></p>
              <a href="/user/polls/create" class="btn btn-primary">Create new poll</a>
            </div>
            <% } else { %>

              <div class="grid lg:grid-cols-2 gap-6">

                <% for (let poll of polls) { %>

                  <div class="w-full bg-gray-100 rounded-xl flex space-x-4 min-h-60 h-auto p-4">

                    <a href="/polls/<%= poll._id %>" class="h-full w-1/2 sm:w-1/3 overflow-hidden rounded-xl">
                      <img src="/images/poll-image.jpg" alt="Poll Image"
                        class="w-full h-full object-cover object-center">
                    </a>

                    <div class="space-y-6 sm:space-y-4 w-1/2 sm:w-2/3">
                      <div
                        class="flex flex-col space-y-4 sm:flex-row sm:space-x-4 sm:space-y-0 sm:items-center sm:justify-between">
                        <div>
                          <a href="/polls/<%= poll._id %>" class="text-lg font-semibold">
                            <%= poll.question %>
                          </a>
                          <p class="font-light">Created by <strong>
                              <%= poll.user.fullName %>
                            </strong></p>
                        </div>
                        <a href="/polls/<%= poll._id %>" class="btn btn-primary">Vote</a>
                      </div>

                      <% if (poll.status==='inactive' ) { %>
                        <p class="italic">Starts <%= poll.startsAt %>
                        </p>
                        <% } else if (poll.status==='active' ) { %>
                          <p class="italic">Ends <%= poll.endsAt %>
                          </p>
                          <% } else { %>
                            <p class="badge badge-danger capitalize">
                              <%= poll.status %>
                            </p>
                            <% } %>

                              <div
                                class="flex flex-col space-y-2 sm:space-y-0 sm:flex-row sm:justify-between sm:items-end sm:space-x-4">
                                <div class="sm:w-1/2">
                                  <span>#lifestyle, #news, #music, #survey,</span>
                                </div>
                                <div class="flex flex-col sm:items-end space-y-2">
                                  <p class="font-light">Total Votes: <strong>
                                      <%= poll.votes.length %>
                                    </strong></p>
                                  <button onclick="shareLink('<%= `${app.url}/polls/${poll._id}` %>')"
                                    class="btn btn-secondary">Share Poll</button>
                                </div>
                              </div>
                    </div>

                  </div>
                  <% } %>

              </div>

              <% } %>
        </div>

      </div>

      <script>
        document.addEventListener('DOMContentLoaded', (event) => {
          const searchForm = document.querySelector('form#searchForm');

          searchForm.addEventListener('submit', function (e) {
            e.preventDefault(); // Prevent default form submission
            const searchTerm = document.querySelector('input[name="searchTerm"]').value;
            window.location.href = `/?searchTerm=${encodeURIComponent(searchTerm)}`; // Redirect with searchTerm only
          });
        });

      </script>

  </body>

  <%- include('../includes/guest/footer.ejs') %>